src/Prover.GUI.Common/SampleData/MainMenuDataSource/MainMenuDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainMenuDataSource" targetNamespace="Expression.Blend.SampleData.MainMenuDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainMenuDataSource" type="tns:MainMenuDataSource" />
  <xs:complexType name="MainMenuDataSource">
    <xs:sequence>
      <xs:element name="AppMainMenus" type="tns:AppMainMenus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppMainMenus">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AppMainMenusItem" type="tns:AppMainMenusItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppMainMenusItem">
    <xs:attribute name="AppTitle" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="IconSource" type="xs:string" />
  </xs:complexType>
</xs:schema>